<mat-toolbar role="toolbar" class="app-navbar">
    <mat-toolbar-row>
        <a class="link action" routerLink="criterios">Criterios</a>
        <a class="link action" routerLink="list-professor-profile">Perfiles docentes</a>
        <a class="link action" routerLink="list-bulletin">Carteles</a>
        <a class="link action" routerLink="">Registro de elegibles</a>
        <a class="link action" routerLink="ElegirCampusSede"> Solicitud para puesto de docencia</a>
        <img class="link-logout" routerLink="login" src="assets/images/ico-salir.png">
    </mat-toolbar-row>
</mat-toolbar>