<div class="form1">

    <div class="fillForm-table">

        <br>
        <br>
        <div id="wrapper">
            <div id="contenedorform">
                <h2 style="text-align:left;"> Formulario para aplicar a un puesto de docencia</h2>
                <br>
                <br>

                <form>
                    <label>Nombre completo:</label>
                    <input type="text" id="fname" name="fname"><br><br>
                    <label>Número de identificación: </label>
                    <input type="text" id="lname" name="lname"><br><br>
                    <label>Número telefónico: </label>
                    <input type="text" id="telnumber" name="telnumber"><br><br>
                    <label>Correo electrónico: </label>
                    <input type="text" id="email" name="email"><br><br>


                    <div class="contenedor">
                        <button (click)="ventana()" (click)="toggleTag()" class="btn btn-default boton-adaptado"
                            style="color:white;margin-left: 60px;">Enviar formulario</button>
                        <!-- <button (click)="ventana" id="btnShow" class="btn btn-default boton-adaptado" style="color:white; margin-left: 60px ;">Enviar formulario</button>-->
                        <button type="reset" class="btn btn-default boton-adaptado1"
                            style="margin-left: 60px ; color:white;">Cancelar formulario</button>




                    </div>


                </form>




                <div class="contenedorSend">
                    <link rel="stylesheet"
                        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

                </div>

            </div>




            <div id="choosefiles">
                <h2 style="text-align:center;"> Adjuntar archivos</h2>
                <input id="choosefilesbutton" type="file" name="archivo" style="margin-left: 35%;">

                <h3 style="text-align:center;"> Usted puede adjuntar archivos PDF ó word</h3>



            </div>

        </div>





       


















    </div>

</div>